.rq, .error {
	color: red;
}
#bttop{
	position:fixed;
    bottom:60px;
    right:10px;
    display: none;
}
.table-scrollable  {
    width: 100%;
    overflow: auto;
    /*overflow-y: hidden;*/
    /*border: 1px solid #dddddd;*/
 }
progress{
    border-radius: 10px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}